:host {
  align-items: center;
  background-color: darkblue;
  border-radius: 4px;
  color: white;
  display: flex;
  flex: 0 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  justify-content: center;
  line-height: normal;
  padding: .25rem;
  text-align: center;
}
